<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>动画组件</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
</head>
<body>
<div id="home" class="home"></div>
<div class="toolbar">
    <div class="toolbar-item">
        <a href="javascript:;">
            <img src="../image/book.svg" class="toolbar-item-icon">
            <p class="toolbar-item-label">订场</p>
        </a>
    </div>
    <div class="toolbar-item">
        <a href="javascript:;">
            <img src="../image/flag.svg" class="toolbar-item-icon">
            <p class="toolbar-item-label">活动</p>
       </a>
    </div>
    <div class="toolbar-item">
        <a href="javascript:;">
            <img src="../image/me.svg" class="toolbar-item-icon">
            <p class="toolbar-item-label">我</p>
       </a>
    </div>
    <div class="toolbar-item" id="close">
        <a href="javascript:;">
            <img src="../image/close.svg" class="toolbar-item-icon" style="margin-top: 6px">
       </a>
    </div>
</div>


<script src="../controller/zepto.min.js"></script>
<script src="../controller/index.js"></script>
</body>
</html>